<content>
	<ul>
		<li>esc</li>
		<li>F1 <i class="icon-darker"></i></li>
		<li>F2 <i class="icon-brighter"></i></li>
		<li>F3 <i class="icon-mission-control"></i></li>
		<li>F4 <i class="icon-app-list"></i></li>
		<li>F5</li>
		<li>F6</li>
		<li>F7 <i class="icon-play-prev"></i></li>
		<li>F8 <i class="icon-play-pause"></i></li>
		<li>F9 <i class="icon-play-next"></i></li>
		<li>F10 <i class="icon-volume-mute"></i></li>
		<li>F11 <i class="icon-volume-less"></i></li>
		<li>F12 <i class="icon-volume-more"></i></li>
		<li><i class="icon-eject"></i></li>
	</ul>
	<ul>
		<li data-key="96"></li>
		<li data-key="49" data-sup="!">1</li>
		<li data-key="50" data-sup="@">2</li>
		<li data-key="51" data-sup="#">3</li>
		<li data-key="52" data-sup="$">4</li>
		<li data-key="53" data-sup="%">5</li>
		<li data-key="54" data-sup="^">6</li>
		<li data-key="55" data-sup="&">7</li>
		<li data-key="56" data-sup="*">8</li>
		<li data-key="57" data-sup="(">9</li>
		<li data-key="48" data-sup=")">0</li>
		<li data-key="45" data-sup="_">-</li>
		<li data-key="61" data-sup="+">=</li>
		<li data-key="8"><i class="icon-backspace"></i></li>
	</ul>
	<ul>
		<li><i class="icon-tab"></i></li>
		<li>Q</li>
		<li>W</li>
		<li>E</li>
		<li>R</li>
		<li>T</li>
		<li>Y</li>
		<li>U</li>
		<li>I</li>
		<li>O</li>
		<li>P</li>
		<li>Å</li>
		<li></li>
		<li data-key="13"><i class="icon-return"></i></li>
	</ul>
	<ul>
		<li><i class="icon-caps-lock"></i></li>
		<li>A</li>
		<li>S</li>
		<li>D</li>
		<li>F</li>
		<li>G</li>
		<li>H</li>
		<li>J</li>
		<li>K</li>
		<li>L</li>
		<li>Ö</li>
		<li>Ä</li>
		<li></li>
		<li data-sub="13"></li>
	</ul>
	<ul>
		<li><i class="icon-shift"></i></li>
		<li></li>
		<li>Z</li>
		<li>X</li>
		<li>C</li>
		<li>V</li>
		<li>B</li>
		<li>N</li>
		<li>M</li>
		<li></li>
		<li></li>
		<li></li>
		<li><i class="icon-shift"></i></li>
	</ul>
	<ul>
		<li>control <i class="icon-control"></i></li>
		<li>option <i class="icon-option"></i></li>
		<li>command <i class="icon-command"></i></li>
		<li></li>
		<li>command <i class="icon-command"></i></li>
		<li>option <i class="icon-option"></i></li>
		<li>control <i class="icon-control"></i></li>
	</ul>
</content>
