<content data-mode="full">
	<div class="main">
		<ul>
			<li data-key="27"><u></u>esc</li>
			<li data-key="112"><u></u>F1 <i class="icon-darker"></i></li>
			<li data-key="113"><u></u>F2 <i class="icon-brighter"></i></li>
			<li data-key="114"><u></u>F3 <i class="icon-mission-control"></i></li>
			<li data-key="115"><u></u>F4 <i class="icon-app-list"></i></li>
			<li data-key="116"><u></u>F5</li>
			<li data-key="117"><u></u>F6</li>
			<li data-key="118"><u></u>F7 <i class="icon-play-prev"></i></li>
			<li data-key="119"><u></u>F8 <i class="icon-play-pause"></i></li>
			<li data-key="120"><u></u>F9 <i class="icon-play-next"></i></li>
			<li data-key="121"><u></u>F10 <i class="icon-volume-mute"></i></li>
			<li data-key="122"><u></u>F11 <i class="icon-volume-less"></i></li>
			<li data-key="123"><u></u>F12 <i class="icon-volume-more"></i></li>
			<li><u></u><i class="icon-eject"></i></li>
		</ul>
		<ul><!-- key rows placeholder --></ul>
		<ul><!-- key rows placeholder --></ul>
		<ul><!-- key rows placeholder --></ul>
		<ul><!-- key rows placeholder --></ul>
		<ul>
			<li data-key="17"><u></u>control <i class="icon-control"></i></li>
			<li data-key="18"><u></u>option <i class="icon-option"></i></li>
			<li data-key="91"><u></u>command <i class="icon-command"></i></li>
			<li data-key="32"><u></u></li>
			<li data-key="93"><u></u>command <i class="icon-command"></i></li>
			<li data-key="18"><u></u>option <i class="icon-option"></i></li>
			<li data-key="17"><u></u>control <i class="icon-control"></i></li>
		</ul>
	</div>

	<div class="ext-1">
		<ul>
			<li data-key="124"><u></u>F13</li>
			<li data-key="125"><u></u>F14</li>
			<li data-key="126"><u></u>F15</li>
		</ul>
		<ul>
			<li>fn</li>
			<li data-key="36"><u></u><i class="icon-home"></i></li>
			<li data-key="33"><u></u><i class="icon-page-up"></i></li>
		</ul>
		<ul>
			<li data-key="46"><u></u><i class="icon-delete"></i></li>
			<li data-key="35"><u></u><i class="icon-end"></i></li>
			<li data-key="34"><u></u><i class="icon-page-down"></i></li>
		</ul>
		<ul>
			<li data-key="38"><u></u><i class="icon-up"></i></li>
		</ul>
		<ul>
			<li data-key="37"><u></u><i class="icon-left"></i></li>
			<li data-key="40"><u></u><i class="icon-down"></i></li>
			<li data-key="39"><u></u><i class="icon-right"></i></li>
		</ul>
	</div>

	<div class="numeric">
		<ul>
			<li data-key="127"><u></u>F16</li>
			<li data-key="128"><u></u>F17</li>
			<li data-key="129"><u></u>F18</li>
			<li data-key="130"><u></u>F19</li>
		</ul>
		<ul>
			<li data-key="12"><u></u><i class="icon-num-lock"></i></li>
			<li data-key="187"><u></u>=</li>
			<li data-key="111"><u></u>/</li>
			<li data-key="106"><u></u>*</li>
		</ul>
		<ul>
			<li data-key="103"><u></u>7</li>
			<li data-key="104"><u></u>8</li>
			<li data-key="105"><u></u>9</li>
			<li data-key="109"><u></u>-</li>
		</ul>
		<ul>
			<li data-key="100"><u></u>4</li>
			<li data-key="101"><u></u>5</li>
			<li data-key="102"><u></u>6</li>
			<li data-key="107"><u></u>+</li>
		</ul>
		<ul>
			<li data-key="97"><u></u>1</li>
			<li data-key="98"><u></u>2</li>
			<li data-key="99"><u></u>3</li>
			<li><u></u><i class="icon-num-enter"></i></li>
		</ul>
		<ul>
			<li data-key="96"><u></u>0</li>
			<li data-key="110" data-sup="."><u></u>,</li>
		</ul>
	</div>
</content>
