<Menu for="virkey">
	<Menu name="About Virtual Keyboard" shell="win -a"/>
	<Menu type="divider"/>
	<Menu name="Basic" click="set-keyboard-mode" arg="basic" check-group="board-mode" is-checked="1"/>
	<Menu name="Extended" click="set-keyboard-mode" arg="extended" check-group="board-mode"/>
	<Menu name="Full" click="set-keyboard-mode" arg="full" check-group="board-mode"/>
	<Menu type="divider"/>
	<Menu name="Light" click="set-keyboard-skin" arg="light" check-group="board-skin" is-checked="1"/>
	<Menu name="Dark" click="set-keyboard-skin" arg="dark" check-group="board-skin"/>
	<Menu name="Space Grey" click="set-keyboard-skin" arg="space" check-group="board-skin"/>
	<Menu name="Mechanical" click="set-keyboard-skin" arg="mech" check-group="board-skin"/>
	<Menu type="divider"/>
	<Menu name="Layout&#8230;">
		<Menu name="English (UK)" click="set-keyboard-layout" arg="en-UK" check-group="board-layout"/>
		<Menu name="Swedish" click="set-keyboard-layout" arg="sv-SE" check-group="board-layout" is-checked="1"/>
		<Menu name="Turkish" click="set-keyboard-layout" arg="tr-TR" check-group="board-layout" disabled="1"/>
	</Menu>
	<Menu type="divider"/>
	<Menu name="Quit Virtual Keyboard" shell="win -c"/>
</Menu>
